# Session 08 Demo

In [2]:
# Review

print('Hello)

SyntaxError: unterminated string literal (detected at line 3) (3923081613.py, line 3)

In [5]:
print('Hello, ', 2000)

Hello,  2000

In [6]:
a = 100
print(a)

100

In [7]:
print(b)

NameError: name 'b' is not defined

In [9]:
print(2 + +2)

4

In [10]:
print(2 + -2)

0

In [11]:
2 + +2

4

In [12]:
2 + 02

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (3422072347.py, line 1)

In [ ]:
print(13 % 4)  # modulo,

1

In [17]:
# how to check whether a number is an even number?

n = 8
print(n % 2)

0

In [ ]:
n = input('Enter an integer: ')

print(n)
print(type(n))

n = int(n)
print(type(n))
print(n % 2)

10
<class 'str'>
<class 'int'>
0

In [59]:
# check even or odd
n = input('Enter an integer: ')

n = int(n)

if n % 2 == 0:
    print('It is an even number!')
else:
    print('It is an odd number!')

ValueError: invalid literal for int() with base 10: ''

In [61]:
condition = 10 % 2 == 0
print(condition)
print(type(condition))

True
<class 'bool'>

## Chapter 2: Variables, expressions, and Statements

In [27]:
print('Hey Jude', 'don\'t make it bad')

Hey Jude don't make it bad

In [28]:
print('Hey Jude', "don't make it bad")

Hey Jude don't make it bad

In [29]:
name = input("What is your name?")

print('Hello, ' + name)

Hello, Santiago

In [30]:
price_before_tax = 100

In [32]:
class = "OIM6301"

SyntaxError: invalid syntax (2771207039.py, line 1)

In [34]:
n = 42

In [35]:
n + 10  # This is an expression, which has a value

52

In [36]:
n

42

In [37]:
# Python is a dynamically typed language

a = 123 # a is an integer
print(a)
a = 'ABC' # a becomes a string
print(a)

123
ABC

In [38]:
x = 10
x = x + 2
print(x)

12

In [ ]:
a = 'ABC'
balance = a
a = 'XYZ'
print(a)

XYZ

In [ ]:
print(balance)

ABC

In [ ]:
# Arithmatic operations

a = 100
balance = 5

print(a + balance)
print(a - balance)
print(a * balance)
print(a / 5)

105
95
500
20.0

In [ ]:
a = 'Hello, '
balance = 'world'

print(a + balance)

Hello, world

In [46]:
a * 3

'Hello, Hello, Hello, '

In [47]:
'20' + '25'

'2025'

In [48]:
'20' + 25

TypeError: can only concatenate str (not "int") to str

In [49]:
'25' - '20'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [50]:
pi = 3.1415926

print(f'Pi equals {pi:.5f}.')
print(f'Pi equals {pi:8.5f}.')
print(f'Pi equals {pi:8.2f}.')

Pi equals 3.14159.
Pi equals  3.14159.
Pi equals     3.14.

In [51]:
monthly_balances = [2000.65, 20454.13, 45646.58, 100000]

In [ ]:
print('   Balance')
for balance in monthly_balances:
    print(f'${balance:9.2f}')

   Balance
$  2000.65
$ 20454.13
$ 45646.58
$100000.00